.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 2px solid #606e85;
	border-radius: var(--border-radius);
	padding: 15px;
	margin-bottom: 100px;
	&__score {
		height: 72px;
		width: 80px;
		background-color: var(--white);
		border-radius: var(--border-radius);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		span {
			text-transform: uppercase;
			color: var(--blue);
			font-size: 10px;
			text-align: center;
			letter-spacing: 0.18em;
		}
		&-value {
			font-weight: 800;
			font-size: 40px;
			color: var(--gray);
			margin-top: -5px;
		}
	}
}
