@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

:root {
	--rock: #dc2e4e;
	--rock-dark: #a21532;
	--paper: #4865f4;
	--paper-dark: #2d46bd;
	--scissors: #ec9e0e;
	--scissors-dark: #c76c1a;
	--white: #fff;
	--gray: #3b4263;
	--blue: #2a46c0;

	--border-radius: 5px;
	--border-radius-big: 10px;
}

body {
	margin: 0;
	font-family: "Barlow Semi Condensed", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: radial-gradient(94.87% 94.87% at 50% 50%, #1f3756 0%, #141539 100%);
}

*,
*::before,
*::after {
	user-select: none;
	box-sizing: border-box;
}
