.rules {
	height: 100%;
	width: 100%;
	background-color: var(--white);
	outline: none;
	&__container {
		height: inherit;
		padding: 100px 0 64px 0;
		max-width: 314px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		span {
			font-size: 32px;
			color: var(--gray);
			text-transform: uppercase;
			font-weight: 700;
		}
	}
}
